openapi: 3.1.0
info:
  title: Amplify Customer API
  version: 1.0.0
  description: |-
    Canonical contract for the Amplify customer-facing API. This YAML file is
    the source of truth for Postman and Mintlify. Operations marked with
    x-amplify-validation-status: pending were migrated from the legacy Postman
    collection and must be validated before their contract is considered final.
servers:
- url: https://api.amplify.xyz
  description: Production
tags:
- name: Authentication
- name: Fax
- name: Send Faxes
- name: Receive Faxes
- name: Manage Faxes
- name: Workspace
- name: Numbers
- name: Contacts
- name: Documents
- name: Templates
paths:
  "/v1/auth":
    post:
      tags:
      - Authentication
      operationId: generateAccessToken
      summary: Generate an access token
      description: Exchanges an Amplify API key for a Bearer access token.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GenerateAccessTokenRequest"
            example:
              api_secret_key: "<string>"
      responses:
        '200':
          description: Access token generated successfully.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GenerateAccessTokenResponse"
              example:
                status: 1
                message: Token Generate Successfully
                data:
                  access_token: YOUR_ACCESS_TOKEN
                  token_type: Bearer
                  expires_in: 86400
        '401':
          description: The supplied API secret key is invalid.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/InvalidApiKeyResponse"
              example:
                status: 0
                message: API Secret Key is invalid.
      x-amplify-validation-status: validated
  "/v1/faxes/send":
    post:
      tags:
      - Send Faxes
      operationId: sendFax
      summary: Send a fax
      description: Sends a fax with one or more PDF documents supplied as JSON.
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SendFaxJsonRequest"
            example:
              fax_number: "+12509997881"
              fax_data:
              - file_name: document.pdf
                file_url: https://example.com/document.pdf
      responses:
        '200':
          description: Fax processed for sending.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SendFaxResponse"
              example:
                status: 1
                message: Fax processed for sending
                data:
                  job_id: 01M1NMGG0WY0THD0YA3ZWN9WY7
        '401':
          "$ref": "#/components/responses/ExpiredAccessToken"
      x-amplify-validation-status: validated
  "/v1/faxes/forward":
    post:
      tags:
      - Send Faxes
      operationId: forwardFax
      summary: Forward a fax
      description: Forwards the documents from an existing fax job to another fax
        number.
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ForwardFaxRequest"
            example:
              job_id: '12345'
              fax_number: "+12509997881"
      responses:
        '200':
          description: Fax processed for sending.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ForwardFaxResponse"
              example:
                status: 1
                message: Fax processed for sending
                data:
                  job_id: 01M1NMGG0WY0THD0YA3ZWN9WY7
        '404':
          description: The source fax could not be found.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 0
                message: Fax Not Found
      x-amplify-validation-status: validated
  "/v1/faxes/status":
    post:
      tags:
      - Send Faxes
      operationId: postv1FaxesStatus
      summary: Get fax status
      description: Returns the current transmission status and delivery details for
        the fax identified by job_id.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Current fax status returned successfully.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FaxStatusResponse"
              example:
                status: 1
                message: Fax status response.
                data:
                  job_id: 01M1NSAPE73ZJTEGEZQMHC8P6P
                  from_number: "+19073131400"
                  to_number: "+14084132233"
                  fax_call_length: 0
                  fax_call_start: 1788511347
                  fax_call_end:
                  fax_total_pages: 1
                  fax_transferred_pages: 1
                  fax_status: Sending
                  message: ''
                  code: 0
        '404':
          description: No fax record was found for the supplied job_id.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FaxRecordNotFoundResponse"
              example:
                status: 0
                message: No record found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - job_id
              properties:
                job_id:
                  type: string
                  description: Unique identifier returned when the fax was submitted.
                  example: 01M1NSAPE73ZJTEGEZQMHC8P6P
            example:
              job_id: 01M1NSAPE73ZJTEGEZQMHC8P6P
      x-amplify-validation-status: validated
  "/v1/faxes/resend":
    post:
      tags:
      - Send Faxes
      operationId: resendFax
      summary: Resend a fax
      description: Resubmits a cancelled or failed fax identified by job_id and returns
        the same job_id after the fax is accepted for resending. Delivered faxes cannot
        be resent.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Fax processed for sending.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SendFaxResponse"
              example:
                status: 1
                message: Fax processed for sending
                data:
                  job_id: 01M1P3AW6FXWXQR6PHRRMYSC6M
        '400':
          description: The fax cannot be found or is not in a status that allows it
            to be resent.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResendFaxNotAllowedResponse"
              examples:
                ineligibleStatus:
                  summary: Fax status cannot be resent
                  value:
                    status: 0
                    message: 'Only cancelled or failed faxes can be resent. Current
                      status: delivered'
                faxNotFound:
                  summary: Fax does not exist or belongs to another account
                  value:
                    status: 0
                    message: Fax not found or does not belong to your account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - job_id
              properties:
                job_id:
                  type: string
                  description: Unique identifier of the fax to resend.
            example:
              job_id: 01KP352V1K013YQHRFS68NRV9F
      x-amplify-validation-status: validated
  "/v1/faxes/lists":
    post:
      tags:
      - Send Faxes
      operationId: listSentFaxes
      summary: List sent faxes
      description: Returns sent fax jobs in the authenticated account, including
        their transmission status, page counts, and cursor metadata.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Sent fax list retrieved successfully.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SentFaxListResponse"
              example:
                status: 1
                message: SentFax list retrieved successfully
                data:
                - id: 150004099
                  job_id: 01M1NSAPE73ZJTEGEZQMHC8P6P
                  sender: "+19073131400"
                  receiver: "+14084132233"
                  duration: ''
                  pages: 1
                  fax_status: Delivered
                  sent_fax_time: 1788511347
                  source: fax
                  sent_pages: 1
                  failed_pages: 0
                meta:
                  total: 17
                  next_cursor: ''
                  previous_cursor: ''
                  limit: 20
        '500':
          description: The server could not process the supplied request value.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/InternalServerErrorResponse"
              example:
                status: 0
                message: Internal Server Error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sort_by:
                  type: string
                  description: Sort order for the returned faxes. Newest is the confirmed
                    value.
            example:
              sort_by: Newest
      x-amplify-validation-status: validated
  "/v1/faxes/cancel-schedule":
    post:
      tags:
      - Send Faxes
      operationId: postv1FaxesCancelSchedule
      summary: Cancel a scheduled fax
      description: Cancels a scheduled fax before its scheduled transmission time.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The scheduled fax was cancelled successfully.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 1
                message: Scheduled fax cancelled successfully
        '404':
          description: The fax could not be found.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 0
                message: Fax not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [job_id]
              properties:
                job_id:
                  type: string
                  description: Unique identifier of the scheduled fax to cancel.
            example:
              job_id: 01KM5FAY79TDPXDDXX1EW4QJ5M
      x-amplify-validation-status: validated
  "/v1/faxes/delete":
    delete:
      tags:
      - Manage Faxes
      operationId: deletev1FaxesDelete
      summary: Delete a fax
      description: Permanently deletes the fax identified by `job_id`.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The fax was deleted successfully.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 1
                message: Fax deleted successfully
        '404':
          description: The fax could not be found.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 0
                message: The fax doesn't exist.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [job_id]
              properties:
                job_id:
                  type: string
                  description: Unique identifier of the fax to delete.
            example:
              job_id: 01KKB70Q219TKKBSW1VRQP1XZ0
      x-amplify-validation-status: validated
  "/v1/faxes/schedule":
    get:
      tags:
      - Send Faxes
      operationId: getv1FaxesSchedule
      summary: List scheduled faxes
      description: Returns faxes scheduled for future transmission in the authenticated
        account.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Scheduled fax list retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                required: [status, message, meta]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
                  data:
                    type: array
                    description: Omitted when no scheduled faxes are returned.
                    items:
                      type: object
                      properties:
                        job_id:
                          type: string
                        sender_number:
                          type: string
                        receiver_number:
                          type: string
                        pages:
                          type: integer
                        created_at:
                          type: integer
                          description: Unix timestamp returned by the current API implementation.
                        scheduled_time:
                          type: integer
                          description: Unix timestamp returned by the current API implementation.
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
                      next_cursor:
                        type: string
                      previous_cursor:
                        type: string
                      limit:
                        type: integer
              example:
                status: 1
                message: ScheduleFax list retrieved successfully
                data:
                - job_id: 01M1P48369SWFXQ84A789JED9V
                  sender_number: "+19073131400"
                  receiver_number: "+14084132233"
                  pages: 1
                  created_at: 1788522794
                  scheduled_time: 1791279720
                meta:
                  total: 1
                  next_cursor: ''
                  previous_cursor: ''
                  limit: 20
      parameters:
      - name: limit
        in: query
        required: false
        description: Maximum number of scheduled faxes to return.
        schema:
          type: integer
        example: 10
      - name: cursor
        in: query
        required: false
        description: Cursor used to request another page of results.
        schema:
          type: string
      x-amplify-validation-status: validated
  "/v1/faxes/pending-approval":
    post:
      tags:
      - Manage Faxes
      operationId: postv1FaxesPendingApproval
      summary: List pending fax approvals
      description: Returns faxes waiting for approval in the authenticated account.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Pending fax approvals retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                required: [status, meta]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
                    description: Omitted when no pending approvals are returned.
                  data:
                    type: array
                    description: Omitted when no pending approvals are returned.
                    items:
                      type: object
                      required: [job_id, fax_type, sender, receiver, pages, fax_status, created_at, updated_at]
                      properties:
                        job_id:
                          type: string
                        is_read:
                          type: boolean
                        fax_type:
                          type: string
                        sender:
                          type: string
                        receiver:
                          type: string
                        pages:
                          type: integer
                        fax_status:
                          type: string
                        created_at:
                          type: integer
                          description: Unix timestamp returned by the current API implementation.
                        updated_at:
                          type: integer
                          description: Unix timestamp returned by the current API implementation.
                  meta:
                    type: object
                    required: [total, next_cursor, previous_cursor, limit]
                    properties:
                      total:
                        type: integer
                      next_cursor:
                        type: string
                      previous_cursor:
                        type: string
                      limit:
                        type: integer
              examples:
                populated:
                  summary: Pending approval returned
                  value:
                    status: 1
                    message: Pending Approval Fax Rerive SuccessFully.
                    data:
                    - job_id: 01M1PEZPK67Z4RQ5Y82JZF3BCF
                      is_read: false
                      fax_type: outbound
                      sender: "+14084132233"
                      receiver: "+14084132233"
                      pages: 1
                      fax_status: pending_approval
                      created_at: 1788534052
                      updated_at: 1788534054
                    meta:
                      total: 1
                      next_cursor: ''
                      previous_cursor: ''
                      limit: 20
                empty:
                  summary: No pending approvals
                  value:
                    status: 1
                    meta:
                      total: 0
                      next_cursor: ''
                      previous_cursor: ''
                      limit: 10
        '422':
          description: A request value failed validation.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 0
                message: The selected sort by is invalid.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sort_by:
                  type: string
            example:
              sort_by: Newest
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
        example: 10
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      x-amplify-validation-status: validated
  "/v1/faxes/approval":
    post:
      tags:
      - Manage Faxes
      operationId: postv1FaxesApproval
      summary: Approve or reject a fax
      description: Approves or rejects one or more pending fax requests.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The pending fax request was processed successfully.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 1
                message: The fax request has been successfully approved.
        '400':
          description: The fax request has already been approved.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 0
                message: This fax has already been approved.
        '404':
          description: None of the supplied fax identifiers could be found.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 0
                message: No faxes found for the provided UUIDs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [job_id, type]
              properties:
                job_id:
                  type: array
                  items:
                    type: string
                type:
                  type: string
                  description: Decision to apply to the pending fax request.
                  enum: [approve, reject]
                comment:
                  type: string
            example:
              job_id:
              - 01KRJFN3NFSF1DZYSQTCEA9NBC
              type: reject
              comment: Not Need To send this for now
      x-amplify-validation-status: validated
  "/v1/faxes/download":
    post:
      tags:
      - Manage Faxes
      operationId: postv1FaxesDownload
      summary: Download a fax
      description: Returns a fax document as a Base64-encoded PDF data URL.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Fax downloaded successfully.
          content:
            application/json:
              schema:
                type: object
                required: [status, message, data]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
                  data:
                    type: object
                    required: [name, file]
                    properties:
                      name:
                        type: string
                      file:
                        type: string
                        description: PDF represented as a Base64 data URL.
              example:
                status: 1
                message: The fax download successfully
                data:
                  name: file1
                  file: data:application/pdf;base64,<base64-encoded PDF>
        '404':
          description: The fax could not be found.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 0
                message: Fax doesn't exist.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [job_id]
              properties:
                job_id:
                  type: string
            example:
              job_id: 01KM5CRXJZSQNQSCX0W5CA9W17
      x-amplify-validation-status: validated
  "/v1/faxes/mark-as-done":
    post:
      tags:
      - Manage Faxes
      operationId: postv1FaxesMarkAsDone
      summary: Mark a fax as done
      description: Marks an inbound or outbound fax as done.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Fax marked as done successfully.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 1
                message: Document marked as done successfully.
        '404':
          description: The fax could not be found.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 0
                message: The Fax doesn't exist.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [job_id, type]
              properties:
                job_id:
                  type: string
                type:
                  type: string
                  enum: [inbound, outbound]
            example:
              job_id: 01KM5D2STYZQ3QTA6BB2FMJ7TE
              type: inbound
      x-amplify-validation-status: validated
  "/v1/faxes/mark-as-not-done":
    post:
      tags:
      - Manage Faxes
      operationId: postv1FaxesMarkAsNotDone
      summary: Mark a fax as not done
      description: Marks an inbound or outbound fax as not done.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Fax marked as not done successfully.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 1
                message: Document marked as un-done successfully.
        '404':
          description: The fax could not be found.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 0
                message: The Fax doesn't exist.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [job_id, type]
              properties:
                job_id:
                  type: string
                type:
                  type: string
                  enum: [inbound, outbound]
            example:
              job_id: 01KM5D2STYZQ3QTA6BB2FMJ7TE
              type: outbound
      x-amplify-validation-status: validated
  "/v1/faxes/transmission-receipt":
    post:
      tags:
      - Manage Faxes
      operationId: postv1FaxesTransmissionReceipt
      summary: Get a fax transmission receipt
      description: Returns a fax transmission receipt as a Base64-encoded PDF data URL.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Transmission receipt downloaded successfully.
          content:
            application/json:
              schema:
                type: object
                required: [status, message, data]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
                  data:
                    type: string
                    description: PDF represented as a Base64 data URL.
              example:
                status: 1
                message: Transmission receipt downloaded successfully
                data: data:application/pdf;base64,<base64-encoded PDF>
        '404':
          description: The fax could not be found.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 0
                message: Fax don`t exits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [job_id, direction]
              properties:
                job_id:
                  type: string
                direction:
                  type: string
                  enum: [inbound, outbound]
            example:
              job_id: 01KKGWHA9ZES6M918QWHJPBPBB
              direction: outbound
      x-amplify-validation-status: validated
  "/v1/faxes/cancel":
    post:
      tags:
      - Send Faxes
      operationId: postv1FaxesCancel
      summary: Cancel a fax
      description: Cancels a fax that has not completed transmission.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The fax was cancelled successfully.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 0
                message: Fax cancelled successfully
        '400':
          description: The fax could not be found or was already cancelled.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              examples:
                faxNotFound:
                  summary: Fax not found
                  value:
                    status: 0
                    message: Fax not found
                alreadyCancelled:
                  summary: Fax is already cancelled
                  value:
                    status: 0
                    message: Fax is already cancelled
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [job_id]
              properties:
                job_id:
                  type: string
                  description: Unique identifier of the fax to cancel.
            example:
              job_id: 01KP352V1K013YQHRFS68NRV9F
      x-amplify-validation-status: validated
  "/v1/report":
    post:
      tags:
      - Manage Faxes
      operationId: postv1Report
      summary: Generate a fax report
      description: 'Migrated from Customer API v1: Send Fax > Fax Report.'
      x-excluded: true
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response. Response body was not included in the
            source collection.
        '404':
          description: The current implementation returned an opaque error payload.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                start_date:
                  type: string
                end_date:
                  type: string
            example:
              start_date: '2026-03-17'
              end_date: '2026-03-18'
      x-amplify-validation-status: pending
  "/v1/numbers/verification/create_address":
    post:
      tags:
      - Numbers
      operationId: postv1NumbersVerificationCreateAddress
      summary: Create a verification address
      description: Creates an address record that can be referenced when satisfying location-based regulatory requirements for a phone number.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The verification address was created successfully.
          content:
            application/json:
              schema:
                type: object
                required: [status, message, data]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
                  data:
                    type: object
                    required: [address_id]
                    properties:
                      address_id:
                        type: string
              example:
                status: 1
                message: Address created successfully
                data:
                  address_id: "3042056293008279020"
        '422':
          description: Required address information was not supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationMessageResponse'
              example: { status: 0, message: The country code field is required. }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                street_address:
                  type: string
                locality:
                  type: string
                country_code:
                  type: string
                postal_code:
                  type: string
                administrative_area:
                  type: string
                address_components:
                  type: array
                  items:
                    type: object
                    properties:
                      long_name:
                        type: string
                      short_name:
                        type: string
                      types:
                        type: array
                        items:
                          type: string
              required: [country_code]
            example:
              name: John doe
              street_address: 1 Wilerstrasse
              locality: Amlikon-Bissegg
              country_code: CH
              postal_code: '8514'
              administrative_area: TG
              address_components:
              - long_name: Wilerstrasse
                short_name: Wilerstrasse
                types:
                - route
              - long_name: Amlikon-Bissegg
                short_name: Amlikon-Bissegg
                types:
                - locality
                - political
              - long_name: Weinfelden
                short_name: Weinfelden
                types:
                - administrative_area_level_2
                - political
              - long_name: Thurgau
                short_name: TG
                types:
                - administrative_area_level_1
                - political
              - long_name: Switzerland
                short_name: CH
                types:
                - country
                - political
              - long_name: '8514'
                short_name: '8514'
                types:
                - postal_code
      x-amplify-validation-status: partially-validated
  "/v1/numbers/verification/upload_document":
    post:
      tags:
      - Numbers
      operationId: postv1NumbersVerificationUploadDocument
      summary: Upload a verification document
      description: Uploads a document for use as evidence when satisfying a phone number's regulatory requirements.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The verification document was uploaded successfully.
          content:
            application/json:
              schema:
                type: object
                required: [status, message, data]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
                  data:
                    type: object
                    required: [file_name]
                    properties:
                      file_name:
                        type: string
              example:
                status: 1
                message: Document uploaded successfully
                data:
                  file_name: 2104aad3-0e61-46ac-a249-f74c9e8b24de.pdf
        '422':
          description: Required document information was not supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationMessageResponse'
              examples:
                missingFileName:
                  summary: Missing file name
                  value:
                    status: 0
                    message: The file name field is required.
                invalidFileType:
                  summary: Unsupported file type
                  value:
                    status: 0
                    message: Invalid file type. Only jpg, jpeg, png, pdf, doc, docx are allowed.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file_name:
                  type: string
                  description: File name including an allowed extension (`jpg`, `jpeg`, `png`, `pdf`, `doc`, or `docx`).
                file_url:
                  type: string
              required: [file_name]
      x-amplify-validation-status: partially-validated
  "/v1/numbers/verification/upload_did_requirements":
    post:
      tags:
      - Numbers
      operationId: postv1NumbersVerificationUploadDidRequirements
      summary: Submit DID requirements
      description: Submits the textual values, uploaded document references, and verification addresses required for regulatory approval of a phone number.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response. Response body was not included in the
            source collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnvalidatedApiResponse'
        '422':
          description: Required DID requirement information was not supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationMessageResponse'
              example: { status: 0, message: The number id field is required. }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                number_id:
                  type: integer
                requirements:
                  type: array
                  items:
                    type: object
                    properties:
                      requirement_id:
                        type: string
                      type:
                        type: string
                      data:
                        type: string
                      other_data:
                        type: string
              required: [number_id]
            example:
              number_id: 2413
              requirements:
              - requirement_id: 0b42b42a-d827-4b53-a2bb-8eeef919f798
                type: address
                data: '3033482171152074501'
                other_data: ASDF, Jalan Boulevard Bukit Gading Raya, RT.6/RW.14, West
                  Kelapa Gading, North Jakarta City, Jakarta, Indonesia
              - requirement_id: 1cfde0b1-f85e-4444-9c1a-413cfa3f079f
                type: document
                data: e1f76bee-ca67-4553-9839-511074c072ca.pdf
                other_data: ''
              - requirement_id: 2708e569-696a-4fc7-9305-5fdb3eb9c7dd
                type: textual
                data: Test Verification
                other_data: ''
              - requirement_id: 6d3e2643-efaa-4bd3-8c31-77b6cda1d6a2
                type: document
                data: 756af69c-de74-411e-b974-7cde2ed9b918.pdf
                other_data: ''
      x-amplify-validation-status: partially-validated
  "/v1/numbers/country-list":
    get:
      tags:
      - Numbers
      operationId: getv1NumbersCountryList
      summary: List available countries
      description: Returns the countries where Amplify currently offers phone numbers, including each country's calling prefix and purchasing tier.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Countries retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumberCountryListResponse'
              example:
                status: 1
                data:
                - { code: AU, name: Australia, prefix: 61, tier: 2 }
                - { code: US, name: United States, prefix: 1, tier: 0 }
      x-amplify-validation-status: validated
  "/v1/numbers/area-list":
    post:
      tags:
      - Numbers
      operationId: postv1NumbersAreaList
      summary: List available areas
      description: Returns the geographic areas and area codes where phone numbers are available within the specified country.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Areas retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumberAreaListResponse'
              example:
                status: 1
                data:
                - { name: Adelaide, country_code: AU, code: '8', prefix: '8' }
        '422':
          description: Required country code was not supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationMessageResponse'
              example: { status: 0, message: The country code field is required. }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                country_code:
                  type: string
              required: [country_code]
            example:
              country_code: AU
      x-amplify-validation-status: validated
  "/v1/numbers/available-list":
    post:
      tags:
      - Numbers
      operationId: postv1NumbersAvailableList
      summary: List available numbers
      description: Returns phone numbers currently available for purchase that match the required country code and area code.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Available numbers retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableNumbersResponse'
              example:
                status: 1
                data: ['+41912470045', '+41912470046']
        '422':
          description: A required country code or area code was not supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationMessageResponse'
              examples:
                missingCountry:
                  summary: Missing country code
                  value: { status: 0, message: The country code field is required. }
                missingAreaCode:
                  summary: Missing area code
                  value: { status: 0, message: The code field is required. }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                country_code:
                  type: string
                  description: Two-letter country code used to search for available numbers.
                code:
                  type: string
                  description: Area code used to filter the available numbers within the specified country.
              required: [country_code, code]
            example:
              country_code: CH
              code: '91'
      x-amplify-validation-status: validated
  "/v1/numbers/search":
    post:
      tags:
      - Numbers
      operationId: postv1NumbersSearch
      summary: Search available numbers
      description: Checks whether a specific E.164 phone number is currently available for purchase through Amplify.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Availability check completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumberSearchResponse'
              examples:
                available:
                  summary: Number is available
                  value: { status: 1, message: Number available for purchase }
                unavailable:
                  summary: Number is unavailable
                  value: { status: 0, message: Number not available for purchase }
        '422':
          description: Required number was not supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpaqueValidationResponse'
              example:
                data: EM1zNzH9b2Ghr8GkFEVrc6R0VHxIteOrdqOxT9pqEn3X0q/DPKF8B2n5lzgOqdVqcGe/7/zDs21Srye+njcV7QthQ6OcDwhX/3jaqCXd4wzau4W57m6JaAusaxGM63vddILOSE3PM1jbCoc/fA+QtTzOTDXsySuALFRdJj+iXYyXbkNSSHlzaSRZOziN3mfE
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                number:
                  type: string
                  description: Phone number in E.164 format.
              required: [number]
            example:
              number: "+390802180993"
      x-amplify-validation-status: validated
  "/v1/numbers/filled_requirements":
    post:
      tags:
      - Numbers
      operationId: postv1NumbersFilledRequirements
      summary: List filled requirements
      description: Returns regulatory requirement definitions and any previously saved values for the specified country.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Filled requirements retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilledNumberRequirementsResponse'
              example:
                status: 1
                message: Filled requirements retrieved successfully
                data:
                - id: 34
                  requirement_id: 0b42b42a-d827-4b53-a2bb-8eeef919f798
                  name: Company Registration Number (Multi-Format)
                  type: textual
                  country_code: CH
                  value: null
                  other_data: ''
        '422':
          description: Required country code was not supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationMessageResponse'
              example: { status: 0, message: The country code field is required. }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                country_code:
                  type: string
              required: [country_code]
            example:
              country_code: CH
      x-amplify-validation-status: validated
  "/v1/numbers/purchase":
    post:
      tags:
      - Numbers
      operationId: postv1NumbersPurchase
      summary: Purchase a number
      description: Purchases an available phone number for the authenticated account when no additional regulatory submission is required in the request.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The number was purchased and provisioned to the authenticated account.
          content:
            application/json:
              schema:
                type: object
                required: [status, message, data]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
                  data:
                    type: object
                    required: [number_id, order_id]
                    properties:
                      number_id:
                        type: integer
                      order_id:
                        type: string
              example:
                status: 1
                message: Number purchased successfully
                data:
                  number_id: 2650
                  order_id: "3042009471086757685"
        '422':
          description: The number could not be purchased because it is invalid or no longer available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationMessageResponse'
              example:
                status: 0
                message: Your selected number is already purchased by other user please choose other number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                number:
                  type: string
                  pattern: '^\+[1-9]\d{1,14}$'
                  description: Phone number to purchase in E.164 format, including the leading `+`.
                type:
                  type: string
                  enum: [fax, voice]
                  description: Optional service type for the purchased number.
              required: [number]
            example:
              number: "+13346412481"
              type: fax
      x-amplify-validation-status: validated
  "/v1/numbers/purchase_with_requirements":
    post:
      tags:
      - Numbers
      operationId: postv1NumbersPurchaseWithRequirements
      summary: Purchase a number with requirements
      description: Purchases an available phone number while submitting the regulatory information required for its country and number tier.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The number was purchased and provisioned to the authenticated account.
          content:
            application/json:
              schema:
                type: object
                required: [status, message, data]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
                  data:
                    type: object
                    required: [number_id, order_id]
                    properties:
                      number_id:
                        type: integer
                      order_id:
                        type: string
              example:
                status: 1
                message: Number purchased successfully
                data:
                  number_id: 2650
                  order_id: "3042009471086757685"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                number:
                  type: string
                type:
                  type: string
                  enum: [fax, voice]
                  description: Optional service type for the purchased number.
                country_code:
                  type: string
                tier:
                  type: integer
                requirements:
                  type: array
                  items:
                    type: object
                    properties:
                      requirement_id:
                        type: string
                      type:
                        type: string
                        enum: [textual, document, address]
                        description: Kind of regulatory evidence supplied by this requirement.
                      data:
                        type: string
                      other_data:
                        type: string
            example:
              number: "+41912470050"
              type: fax
              country_code: CH
              tier: 1
              requirements:
              - requirement_id: 0b42b42a-d827-4b53-a2bb-8eeef919f798
                type: textual
                data: '478458786548'
                other_data: ''
              - requirement_id: 2708e569-696a-4fc7-9305-5fdb3eb9c7dd
                type: textual
                data: John doe
                other_data: ''
              - requirement_id: 9ef887b6-7a28-47c3-964e-380680776561
                type: document
                data: 98853a6a-a3e2-4b59-b676-6bb081faf5e3.pdf
                other_data: ''
              - requirement_id: a7d9a3a3-70ed-4cb4-821b-b94e8ea6dc9b
                type: address
                data: '3034108885616035274'
                other_data: Wilerstrasse 3918, Amlikon-Bissegg, Switzerland
              - requirement_id: b0197fa1-c2fd-4500-9875-2c658b2396eb
                type: document
                data: 811a8f00-41c3-4e2d-8050-58c4c57b2663.pdf
                other_data: ''
              - requirement_id: bf1cb27c-3693-41af-bbf6-ff4de8d41006
                type: textual
                data: john@doe.com
                other_data: ''
              - requirement_id: d3641c72-734e-4421-8bca-510b4137c0c5
                type: textual
                data: John fintech
                other_data: ''
              - requirement_id: ec029bc6-357f-404d-bdfd-f61d4e578896
                type: document
                data: '094ab602-4ea3-4497-836c-809a5d2ded86.pdf'
                other_data: ''
              - requirement_id: 80b88912-a16a-401d-afe4-28a47d31bf89
                type: textual
                data: '6985478521'
                other_data: ''
              - requirement_id: d28957ae-1170-4b17-919f-e78b5b6dcdba
                type: document
                data: 67eb742d-e7ea-4e51-a144-f455037f2e92.pdf
                other_data: ''
      x-amplify-validation-status: partially-validated
  "/v1/numbers/list":
    get:
      tags:
      - Numbers
      operationId: getv1NumbersList
      summary: List owned numbers
      description: Returns the phone numbers currently associated with the authenticated account, including the identifiers needed by other Numbers and fax operations.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Numbers retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnedNumbersResponse'
              example:
                status: 1
                message: Numbers list retrieved successfully
                data:
                - number_id: 701
                  order_id: '2900178196915815935'
                  fax_number: '+14084132233'
      x-amplify-validation-status: validated
  "/v1/numbers/delete":
    post:
      tags:
      - Numbers
      operationId: postv1NumbersDelete
      summary: Delete a number
      description: Removes an owned phone number from the Amplify account and deprovisions it from the carrier using its Amplify number identifier and provider order identifier.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The number was removed from the account and deprovisioned successfully.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 1
                message: Number deleted successfully
        '400':
          description: No owned number matched the supplied identifiers.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 0
                message: Number not found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                number_id:
                  type: string
                order_id:
                  type: string
              required: [number_id, order_id]
            example:
              number_id: '2412'
              order_id: '3030535845615502435'
      x-amplify-validation-status: validated
  "/v1/faxes/received":
    post:
      tags:
      - Receive Faxes
      operationId: postv1FaxesReceived
      summary: List received faxes
      description: Returns received faxes for the specified account number and order.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Received faxes retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                required: [status, message, data]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      required: [job_id, receiver, duration, pages, received_time, sender]
                      properties:
                        job_id:
                          type: string
                        receiver:
                          type: string
                        duration:
                          type: string
                        pages:
                          type: string
                        received_time:
                          type: integer
                          description: Unix timestamp returned by the current API implementation.
                        sender:
                          type: string
              example:
                status: 1
                message: Faxes list retrieved successfully
                data:
                - job_id: 01KJFER7F1Z1RF632PC8P3X7FD
                  receiver: '14084132233'
                  duration: '21'
                  pages: '1'
                  received_time: 1772192800
                  sender: '12053259046'
                - job_id: 01KJZTYNY2ZGPGD6HCP0506MMC
                  receiver: '14084132233'
                  duration: '236'
                  pages: '10'
                  received_time: 1772742465
                  sender: '15034367160'
                - job_id: 01KQXB4BE7D6GT423MEEDZAVP8
                  receiver: '14084132233'
                  duration: '277'
                  pages: '5'
                  received_time: 1778027474
                  sender: '19512701100'
                - job_id: 01KVZAPSHQ8KMVKNYB5PAZPMN4
                  receiver: '14084132233'
                  duration: '59'
                  pages: '7'
                  received_time: 1782389106
                  sender: '14084132233'
                - job_id: 01KW9Z8E6NQN8FBMK2MT6FWDS6
                  receiver: '14084132233'
                  duration: '35'
                  pages: '3'
                  received_time: 1782746200
                  sender: '14084132233'
                - job_id: 01KWA5N448GK76HC4Y3AZJ5B1R
                  receiver: '14084132233'
                  duration: '19'
                  pages: '1'
                  received_time: 1782752907
                  sender: '14084132233'
                - job_id: 01KWA6AD64PY438VDPPA1976A3
                  receiver: '14084132233'
                  duration: '114'
                  pages: '6'
                  received_time: 1782753605
                  sender: '14084132233'
                - job_id: 01KWYP2R6TVKTAXTKGYKH9E5CB
                  receiver: '14084132233'
                  duration: '45'
                  pages: '1'
                  received_time: 1783441219
                  sender: '19512701100'
                - job_id: 01KYNECAV17XCA24PY5PMNHZA2
                  receiver: '14084132233'
                  duration: '50'
                  pages: '2'
                  received_time: 1785278639
                  sender: '12136034292'
                - job_id: 01KYWGEKYAMRH137J5AHQ75H61
                  receiver: '14084132233'
                  duration: '52'
                  pages: '1'
                  received_time: 1785515692
                  sender: '19512701100'
                - job_id: 01KZASR2A5HBNG773V5XX1F5CS
                  receiver: '14084132233'
                  duration: '36'
                  pages: '3'
                  received_time: 1785995200
                  sender: '14084132233'
                - job_id: 01M0ZDQFA35C8XCYJ1ZKFFHQXW
                  receiver: '14084132233'
                  duration: '19'
                  pages: '1'
                  received_time: 1787760983
                  sender: '14084132233'
                - job_id: 01M0ZEMS8X1YD1ZA86PYKFYNX6
                  receiver: '14084132233'
                  duration: '19'
                  pages: '1'
                  received_time: 1787761944
                  sender: '14084132233'
                - job_id: 01M1H28MTRX0BDDPA4VN86J885
                  receiver: '14084132233'
                  duration: '19'
                  pages: '1'
                  received_time: 1788352943
                  sender: '19073131400'
                - job_id: 01M1J2JFVD9WPTB7HTV96X6C58
                  receiver: '14084132233'
                  duration: '57'
                  pages: '2'
                  received_time: 1788386820
                  sender: '15034367151'
                - job_id: 01M1J46MPQZ7RRGT9Z6QJKV1NH
                  receiver: '14084132233'
                  duration: '265'
                  pages: '14'
                  received_time: 1788388529
                  sender: '13055038892'
                - job_id: 01M1NM5VNHBDES8WB05WY7EMZN
                  receiver: '14084132233'
                  duration: '19'
                  pages: '1'
                  received_time: 1788505943
                  sender: '19073131400'
                - job_id: 01M1NMH5CSQ1Y8VGX9P97SN3VP
                  receiver: '14084132233'
                  duration: '19'
                  pages: '1'
                  received_time: 1788506314
                  sender: '19073131400'
                - job_id: 01M1NMZFPG2CQ8K0E6F12A91Q0
                  receiver: '14084132233'
                  duration: '20'
                  pages: '1'
                  received_time: 1788506783
                  sender: '19073131400'
                - job_id: 01M1NQ8THA0QA42W6TS4Q7SY6D
                  receiver: '14084132233'
                  duration: '23'
                  pages: '2'
                  received_time: 1788509186
                  sender: '19073131400'
                - job_id: 01M1NSBBDF17FJZX9VRPPF635K
                  receiver: '14084132233'
                  duration: '19'
                  pages: '1'
                  received_time: 1788511366
                  sender: '19073131400'
        '422':
          description: A required request field is missing.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 0
                message: The number id field is required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [number_id, order_id, marked_as]
              properties:
                order_id:
                  type: string
                marked_as:
                  type: string
                number_id:
                  type: string
            example:
              number_id: '701'
              order_id: '2900178196915815935'
              marked_as: "+14084132233"
      x-amplify-validation-status: validated
  "/v1/faxes/all/received":
    get:
      tags:
      - Receive Faxes
      operationId: getv1FaxesAllReceived
      summary: List all received faxes
      description: Returns all received faxes available to the authenticated account.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Received faxes retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                required: [status, message, data, meta]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      required: [job_id, receiver, duration, pages, received_time, sender]
                      properties:
                        job_id:
                          type: string
                        receiver:
                          type: string
                        duration:
                          type: integer
                        pages:
                          type: integer
                        received_time:
                          type: string
                          description: Date and time returned by the current API implementation.
                        sender:
                          type: string
                  meta:
                    type: object
                    required: [total, next_cursor, previous_cursor, limit]
                    properties:
                      total:
                        type: integer
                      next_cursor:
                        type: string
                      previous_cursor:
                        type: string
                      limit:
                        type: integer
              example:
                status: 1
                message: Faxes list retrieved successfully
                data:
                - job_id: 01M1NSBBDF17FJZX9VRPPF635K
                  receiver: "+14084132233"
                  duration: 19
                  pages: 1
                  received_time: '2026-09-04 16:42:46'
                  sender: "+19073131400"
                - job_id: 01M1NQ8THA0QA42W6TS4Q7SY6D
                  receiver: "+14084132233"
                  duration: 23
                  pages: 2
                  received_time: '2026-09-04 16:06:26'
                  sender: "+19073131400"
                meta:
                  total: 17
                  next_cursor: ''
                  previous_cursor: ''
                  limit: 20
        '500':
          description: The supplied Bearer token could not be parsed.
          content:
            application/json:
              schema:
                type: object
                required: [status, message, data]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
                  data:
                    type: string
              example:
                status: 422
                message: UNPROCESSABLE_ENTITY
                data: Invalid token format
      parameters:
      - name: limit
        in: query
        required: false
        description: Maximum number of received faxes to return.
        schema:
          type: integer
        example: 20
      - name: cursor
        in: query
        required: false
        description: Cursor used to request another page of results.
        schema:
          type: string
      x-amplify-validation-status: validated
  "/v1/faxes/assign":
    post:
      tags:
      - Manage Faxes
      operationId: postv1FaxesAssign
      summary: Assign a fax to a user
      description: Assigns a fax to one or more workspace users by email address.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The fax was assigned successfully.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 1
                message: The fax assigned successfully.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [job_id, emails]
              properties:
                job_id:
                  type: string
                  description: Unique identifier of the fax to assign.
                emails:
                  type: array
                  description: Email addresses of the workspace users receiving the assignment. Multiple users are assigned in the same API call.
                  items:
                    type: string
                    format: email
            example:
              job_id: 01KKXJYK63GH7CX01FFJZ7M61N
              emails:
              - web55@moontechnolabs.com
      x-amplify-validation-status: validated
  "/v1/faxes/unassign":
    post:
      tags:
      - Manage Faxes
      operationId: postv1FaxesUnassign
      summary: Unassign a fax from a user
      description: Removes a fax assignment from one or more workspace users by email address.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The fax was unassigned successfully.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              example:
                status: 1
                message: The fax unassigned successfully.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [job_id, emails]
              properties:
                job_id:
                  type: string
                  description: Unique identifier of the fax to unassign.
                emails:
                  type: array
                  description: Email addresses of the workspace users whose assignments are removed. Multiple users are unassigned in the same API call.
                  items:
                    type: string
                    format: email
            example:
              job_id: 01KKXJYK63GH7CX01FFJZ7M61N
              emails:
              - web55@moontechnolabs.com
      x-amplify-validation-status: validated
  "/v1/ai/process":
    post:
      tags:
      - Fax
      operationId: postv1AiProcess
      summary: Request OCR and NLP processing
      description: 'Migrated from Customer API v1: OCR & NLP > Request OCR & NLP.'
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The OCR or NLP processing request was submitted successfully.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
              examples:
                nlp:
                  summary: NLP request submitted
                  value:
                    status: 1
                    message: Fax NLP request submitted successfully
                ocr:
                  summary: OCR request submitted with the current response message
                  value:
                    status: 1
                    message: Fax NLP request submitted successfully
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [job_id, direction, type]
              properties:
                job_id:
                  type: string
                  description: Unique identifier of the fax to process.
                direction:
                  type: string
                  description: Direction of the fax being processed.
                  enum: [inbound, outbound]
                type:
                  type: string
                  description: Case-sensitive processing type.
                  enum: [OCR, NLP]
            example:
              job_id: 01KKTE796DZDD1XET84QTPJJCR
              direction: outbound
              type: OCR
      x-amplify-validation-status: pending
  "/v1/ai/extract":
    post:
      tags:
      - Fax
      operationId: postv1AiExtract
      summary: Extract OCR and NLP data
      description: Returns previously generated OCR or NLP data for a fax. The response data shape depends on the requested processing type.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The requested OCR or NLP data was retrieved successfully. This example shows an NLP response; OCR returns a different `json_text` shape.
          content:
            application/json:
              schema:
                type: object
                required: [status, message, data]
                properties:
                  status:
                    type: integer
                  message:
                    type: string
                  data:
                    type: object
                    required: [json_text]
                    properties:
                      json_text:
                        description: Extracted data whose structure depends on whether `type` is `OCR` or `NLP`.
                        oneOf:
                        - type: object
                          description: NLP result object.
                          additionalProperties: true
                        - type: array
                          description: OCR blocks detected in the fax document.
                          items:
                            type: object
                            additionalProperties: true
              examples:
                nlp:
                  summary: Shortened NLP response
                  value:
                    status: 1
                    message: JSON NLP data retrieved successfully.
                    data:
                      json_text:
                        task_id: 8cd23e57-ed34-49fd-a81c-ca068a263076
                        action: combined
                        status: success
                        DPI: '200'
                        result_type: object
                        result:
                          document_type:
                            overall:
                              class: Other
                              confidence: 0
                              index: -1
                        errors: []
                ocr:
                  summary: Shortened OCR response
                  value:
                    status: 1
                    message: JSON OCR data retrieved successfully.
                    data:
                      json_text:
                      - BlockType: PAGE
                        Id: 0faea376-249c-4c4f-bb6f-a70241af2d65
                        Page: 1
                        Geometry:
                          BoundingBox:
                            Width: 1
                            Height: 1
                            Left: 0
                            Top: 0
                      - BlockType: LINE
                        Confidence: 100
                        Text: FAX
                        Id: 27f2be95-f9d5-494b-80bd-643d75d10bc3
                        Page: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [job_id, direction, type]
              properties:
                job_id:
                  type: string
                  description: Unique identifier of the fax whose extracted data is returned.
                direction:
                  type: string
                  description: Direction of the fax whose extracted data is returned.
                  enum: [inbound, outbound]
                type:
                  type: string
                  description: Case-sensitive extraction type.
                  enum: [OCR, NLP]
            example:
              job_id: 01KKXJMQMDZ6JAFVHCEG9TZ65M
              direction: outbound
              type: NLP
      x-amplify-validation-status: pending
  "/v1/contacts/group-list":
    get:
      tags:
      - Contacts
      operationId: getv1ContactsGroupList
      summary: List contact groups
      description: Returns contact groups configured in the workspace.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Contact groups retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGroupListResponse'
              example:
                status: 1
                message: Contact groups list retrieved successfully.
                data:
                - { id: 126, name: Legal }
                - { id: 127, name: Marketing }
      x-amplify-validation-status: validated
  "/v1/contacts/group-create":
    post:
      tags:
      - Contacts
      operationId: postv1ContactsGroupCreate
      summary: Create a contact group
      description: Creates a group for organizing contacts in the authenticated workspace.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Contact group created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusMessageResponse'
              example: { status: 1, message: Contact group created successfully }
        '422':
          description: Required name was not supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationMessageResponse'
              example: { status: 0, message: The name field is required. }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required: [name]
            example:
              name: My customers
      x-amplify-validation-status: validated
  "/v1/contacts/group-update":
    post:
      tags:
      - Contacts
      operationId: postv1ContactsGroupUpdate
      summary: Update a contact group
      description: Updates the name or other supported properties of an existing contact group.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Contact group updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusMessageResponse'
              example: { status: 1, message: Contact group Updated successfully }
        '422':
          description: Required group ID was not supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationMessageResponse'
              example: { status: 0, message: The id field is required. }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
              required: [id]
            example:
              id: 453
              name: Test Reseller Group CRSM
      x-amplify-validation-status: validated
  "/v1/contacts/group-delete":
    post:
      tags:
      - Contacts
      operationId: postv1ContactsGroupDelete
      summary: Delete a contact group
      description: Deletes an existing contact group from the authenticated workspace.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Contact group deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusMessageResponse'
              example: { status: 1, message: Contact group deleted successfully }
        '422':
          description: Required group ID was not supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationMessageResponse'
              example: { status: 0, message: The id field is required. }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
              required: [id]
            example:
              id: 492
      x-amplify-validation-status: validated
  "/v1/contacts/custom-field/list":
    get:
      tags:
      - Contacts
      operationId: getv1ContactsCustomFieldList
      summary: List contact custom fields
      description: Returns the custom contact fields configured in the authenticated workspace.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Contact custom fields retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactCustomFieldListResponse'
              example:
                status: 1
                message: Contact Custom fields list retrieved successfully.
                data:
                - id: 480
                  type: patient
                  validation: none
                  label: Provider Degree
                  contact_group_ids: []
      x-amplify-validation-status: validated
  "/v1/contacts/custom-field/create":
    post:
      tags:
      - Contacts
      operationId: postv1ContactsCustomFieldCreate
      summary: Create a contact custom field
      description: Creates a custom field that can store additional information on contacts.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Custom field created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusMessageResponse'
              example: { status: 1, message: Custom field created successfully }
        '422':
          description: Required label was not supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationMessageResponse'
              example: { status: 0, message: The label field is required. }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                contact_type:
                  type: string
                validation:
                  type: string
                contact_group_ids:
                  type: array
                  items:
                    type: integer
              required: [label]
            example:
              label: New customers field
              contact_type: patient
              validation: string_only
              contact_group_ids:
              - 453
      x-amplify-validation-status: validated
  "/v1/contacts/custom-field/update":
    post:
      tags:
      - Contacts
      operationId: postv1ContactsCustomFieldUpdate
      summary: Update a contact custom field
      description: Updates an existing custom contact field and its group associations.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Custom field updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusMessageResponse'
              example: { status: 1, message: Custom field updated successfully }
        '422':
          description: Required custom-field ID was not supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationMessageResponse'
              example: { status: 0, message: The id field is required. }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                label:
                  type: string
                contact_type:
                  type: string
                validation:
                  type: string
                contact_group_ids:
                  type: array
                  items:
                    type: integer
              required: [id]
            example:
              id: 1024
              label: New field
              contact_type: patient
              validation: email
              contact_group_ids:
              - 453
      x-amplify-validation-status: validated
  "/v1/contacts/custom-field/delete":
    post:
      tags:
      - Contacts
      operationId: postv1ContactsCustomFieldDelete
      summary: Delete a contact custom field
      description: Deletes an existing custom contact field from the authenticated workspace.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Custom field deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusMessageResponse'
              example: { status: 1, message: Custom field deleted successfully }
        '422':
          description: Required custom-field ID was not supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationMessageResponse'
              example: { status: 0, message: The id field is required. }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
              required: [id]
            example:
              id: 968
      x-amplify-validation-status: validated
  "/v1/contacts/create":
    post:
      tags:
      - Contacts
      operationId: postv1ContactsCreate
      summary: Create a contact
      description: Creates an individual or organization contact in the authenticated workspace.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Contact created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusMessageResponse'
              example: { status: 1, message: Contact has been saved successfully. }
        '422':
          description: One or more required contact fields were not supplied. The live API currently returns opaque validation details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpaqueValidationResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                is_organization:
                  type: boolean
                first_name:
                  type: string
                middle_name:
                  type: string
                last_name:
                  type: string
                suffix:
                  type: string
                email:
                  type: string
                fax_number:
                  type: string
                dob:
                  type: string
                gender:
                  type: string
            example:
              type: individual
              is_organization: false
              first_name: Primary one
              middle_name: Primary two
              last_name: Contact
              suffix: Jr
              email: web20+781111119@moontechnolabs.com
              fax_number: "+12058976411"
              dob: '1996-09-02'
              gender: male
      x-amplify-validation-status: partially-validated
  "/v1/contacts/upload-patient-doc":
    post:
      tags:
      - Contacts
      operationId: postv1ContactsUploadPatientDoc
      summary: Upload patient doc
      description: Uploads a document for use by patient-contact extraction workflows.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response. The response body has not yet been validated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnvalidatedApiResponse'
        '422':
          description: Required document information was not supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationMessageResponse'
              example: { status: 0, message: The file name field is required. }
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file_name:
                  type: string
                file_data:
                  type: string
              required: [file_name]
      x-amplify-validation-status: pending
  "/v1/contacts/list":
    post:
      tags:
      - Contacts
      operationId: postv1ContactsList
      summary: List contacts
      description: Returns contacts in the workspace. An empty JSON body lists all accessible contacts.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Contacts retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactListResponse'
              example:
                status: 1
                message: Contact list retrieved successfully.
                data:
                - id: iXk7l+mc47QCDlrsHWUhqQ==
                  is_organization: false
                  first_name: James
                  last_name: John
                  type: individual
                  phone_number: '12059270240'
                  is_favorite: false
                  is_blocked: false
                  created_at: '2026-06-29T17:42:44.000000Z'
                  updated_at: '2026-06-29T17:42:45.000000Z'
                  contact_documents: []
                  fields: []
                  groups: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      x-amplify-validation-status: validated
  "/v1/contacts/details":
    post:
      tags:
      - Contacts
      operationId: postv1ContactsDetails
      summary: Get contact details
      description: Returns a contact by the encrypted identifier provided by List contacts.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Contact retrieved, or no matching contact was found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactDetailsResponse'
              examples:
                success:
                  summary: Contact found
                  value:
                    status: 1
                    message: Contact retrieved successfully.
                    data:
                      id: iXk7l+mc47QCDlrsHWUhqQ==
                      is_organization: false
                      first_name: James
                      last_name: John
                      type: individual
                notFound:
                  summary: Contact not found
                  value: { status: 1, message: Contact not found }
        '422':
          description: Required contact ID was not supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationMessageResponse'
              example: { status: 0, message: The id field is required. }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
              required: [id]
            example:
              id: 11RqmcZPbn7j3uX2OxgoKw==
      x-amplify-validation-status: validated
  "/v1/contacts/update":
    post:
      tags:
      - Contacts
      operationId: postv1ContactsUpdate
      summary: Update a contact
      description: Replaces the supported profile, preference, group, and custom-field values of an existing contact.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Contact updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusMessageResponse'
              example: { status: 1, message: Contact has been updated successfully. }
        '422':
          description: Required fields were not supplied. The live API currently returns opaque validation details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpaqueValidationResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                type:
                  type: string
                is_organization:
                  type: boolean
                first_name:
                  type: string
                middle_name:
                  type: string
                last_name:
                  type: string
                suffix:
                  type: string
                direct_message:
                  type: string
                address:
                  type: string
                address_line_2:
                  type: string
                city:
                  type: string
                state:
                  type: string
                zip:
                  type: string
                country:
                  type: string
                organization_name:
                  type: string
                position:
                  type: string
                notes:
                  type: string
                is_favorite:
                  type: boolean
                is_blocked:
                  type: boolean
                is_accesible_to_others:
                  type: boolean
                fields:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      value:
                        type: string
                groups:
                  type: array
                  items:
                    type: string
                previous_last_name:
                  type: string
                dob:
                  type: string
                gender:
                  type: string
                preferred_language:
                  type: string
                interpreter_needed:
                  type: boolean
                races:
                  type: string
                ethnicity:
                  type: string
                medical_record_number:
                  type: string
                patient_status:
[...]
